:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
	box-sizing: border-box;
}

html,
body,
#game-field {
	overflow-x: hidden;
	position: relative;
	height: 100%;
	margin: 0;
}

.player {
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	animation: fadeTail var(--animation-duration) linear;
}

@keyframes fadeTail {
	100% {
		filter: brightness(2.5) opacity(0);
	}
}
